*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;    
    font-family: monospace;
}

main{
    display: flex;
}
.menu{
    background-color:rgb(66, 96, 187);
    width: 100%;
    max-width: 30rem;
    height: 100vh;

}
section{
    background-color: rgb(187, 185, 185);
    width: 100%;
    height: 100rem;
}